*{
    box-sizing: border-box;
}
body{

    display: grid;
    grid-template-areas: "Top Top Top Top"
                         "Menu Content Content Content"
                         "Footer Footer Footer Footer";
    grid-template-rows: 1fr 2fr 0.5fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#Top{
    grid-area: Top;
    background-color: red;
}

#Menu {
    grid-area: Menu;
    background-color: blue;
}

#Content {
    grid-area: Content;
    background-color: cornflowerblue;
}

#Footer {
    grid-area: Footer;
    background-color: yellowgreen;
}