*{
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-areas: "Top Top Top Top"
                         "Main Main Main Main"
                         "Footer Footer Footer Footer";
    grid-template-rows: 1fr 2fr 0.5fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#Top{
    grid-area: Top;
    background-color: red;
}

main{
    display: flex;
    grid-area: Main;
    width: 100%;
}

#Menu {
    height: 100%;
    width: 20%;
    background-color: blue;
}

#Content {
    height: 100%;
    width: 80%;
    background-color: cornflowerblue;
}

#Footer {
    grid-area: Footer;
    background-color: yellowgreen;
}