

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <h1>
        @ViewBag.Saludo
    </h1>
    <small>
        @ViewBag.Fecha
    </small>

    @Html.ActionLink("Ir a la lista de Aulas", "Index", "Aula")

</body>
</html>
