<!DOCTYPE html>

<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="Top">

    </div>
    <div id="Menu"></div>
    <div id="Content">
        @RenderBody()
    </div>
    <div id="Footer"></div>
</body>
</html>
